.page-title {
    display: block !important;
    font-size: 2rem;
    margin-top: 1rem; 
    text-align: center;
}

.form-container {
    margin: auto;
    width: 30rem;
}

.ui.blue.button:focus, .ui.blue.buttons .button:focus {
    background-color: #2185d0;
}

.like-comment .ui.button, 
.ui.like-comment {
    font-size: 0.9rem;
}